* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    -webkit-tap-highlight-color: transparent;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.orbital-system.active-speed {
    width: 60px !important;
    height: 60px !important;
    animation: spin 0.4s linear infinite !important;
}

.orbital-system.active-speed .bubble {
    width: 40px !important;
    height: 40px !important;
    left: calc(50% - 8px) !important;
}

.orbital-system.active-speed .green { 
    top: -55px !important;
}

.orbital-system.active-speed .brown { 
    bottom: -55px !important;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

body { 
    background: #044499; 
    height: 100vh; 
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.bg-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.bg-pattern {
    position: absolute; 
    width: 160%; 
    height: 160%; 
    top: -20%;
    left: -20%;
    background-image: url('RTCLOGOTRANS.png');

    background-size: 230px 180px; 

    background-repeat: repeat;
    filter: brightness(0) invert(1); 

    transform: rotate(1deg) skewX(5deg); 
    opacity: 0.75; 
    
    -webkit-mask-image: linear-gradient(to top, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 90%);
    mask-image: linear-gradient(to top, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 90%);
}

.header {
    position: relative;
    z-index: 10;
    max-width: 410px;
    width: 100%;
    padding: 14px 16px;
    margin: 0 auto;
}

.back-btn {
    background: white;
    border: none;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.animation-zone { 
    flex: 1; 
    display: flex; 
    align-items: flex-start;
    justify-content: center;
    z-index: 2; 
    position: relative;
    padding-top: 85px;
}

.logo-outer-circle {
    width: 202px;
    height: 202px;
    background: white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.droma-logo { 
    width: 95%; 
    height: auto;
    object-fit: contain;

    transform: scale(1.23) translateX(-5px) translateY(3px)
}

.orbital-system { 
    position: absolute; 
    width: 202px; 
    height: 202px; 
    animation: spin 4s linear infinite; 
}

.bubble { 
    position: absolute; 
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    left: calc(50% - 17.5px); 
}
.green { background: #00FF66; top: -28px; }
.brown { background: #381D18; bottom: -28px; }

@keyframes spin { 100% { transform: rotate(360deg); } }

.ticket-container { 
    width: 100%;
    max-width: 380px;
    margin: -10px auto 0 auto;
    padding: 94px 16px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: scale(1.09);
    transform-origin: top center;
}

.card-ticket {
    background: white;
    border-radius: 11px;
    overflow: hidden;
}

.header-ticket { 
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: #CDD4E2;
    height: 28px;
}

.verif-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% + 1px); 
    margin-bottom: -1px;      
    padding: 0 12px;
    background: white;
    border-right: 1.55px solid #305890;
    border-bottom: 1.55px solid #305890;
    border-top-left-radius: 11px;     
    border-bottom-right-radius: 12px; 
}

.verif-badge img { 
    height: 24px !important;
    width: auto !important;
    display: block;
}

@media (min-width: 768px) {
    .verif-badge img { 
        height: 15px !important;
        width: auto !important;
    }
    
    .verif-badge {
        padding: 0 8px;
    }
}

.ticket-title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 0 8px;
    width: 100%;
}

.ticket-title {
    color: #111111; 
    font-weight: 645; 
    font-size: 18px;
    width: 100%;
    text-align: right;
    line-height: 1.2;
}

.main-card .validity-info {
    padding: 5px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.date-label {
    font-size: 14px;
    color: #444444;
    margin-bottom: 0.5px;
}
.date-item { 
    display: flex; 
    align-items: center; 
    margin-bottom: 1px; 
    font-size: 14px;
}

.cal-icon {
    width: 18px !important;
    height: 18px !important;
    min-width: 18px !important;
    min-height: 18px !important;
    margin-right: 2.5px;
    object-fit: contain;
    display: inline-block;
    vertical-align: middle;
}

.text-black { color: #000000; }

.text-bold { font-weight: 700; }

.expiration-style {
    font-weight: 600 !important;
    font-size: 14.8px !important;
}

.qr-box {
    border-left: 1.5px solid #205195;
}
.qr-box img { 
    width: 70px; 
    height: 70px; 
    display: block;
}

.rtc-card {
    background: #CDD4E2;
}
.rtc-header-row {
    display: flex;
    align-items: stretch;
    position: relative;
}
.rtc-timer-wrapper {
    background: white;
    border-radius: 0 0 12px 0;
    border-right: 1.55px solid #305890;
    border-bottom: 1.55px solid #305890;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rtc-timer {
    color: #338A1C;
    font-weight: 800;
    padding: 1px 9.5px;
    font-size: 18px;
}

.rtc-title-wrapper-centered {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 0;
    left: 0;
    z-index: 1;
    padding-right: 14px;
}

.rtc-title {
    font-weight: 645;
    color: #111111;
    font-size: 18px;
    text-align: right;
}

.rtc-body {
    background: white;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rtc-date {
    display: flex;
    align-items: center;
    font-size: 14.7px;
    color: #000000;
    font-weight: 400;
}

.rtc-serial {
    font-weight: 900;
    font-size: 23px;
    color: #000000;
    letter-spacing: 0.2px;
}

.progress-bar-container {
    width: 100%;
    height: 23px;
    background: white;
    border-radius: 100px;
    overflow: hidden;
    margin-top: 7px;
    display: flex;
}

.progress-fill {
    width: 1%;
    height: 100%;
    background: #338A1C;
    border-radius: 100px 0 0 100px;
    transition: width 1s linear;
}

.validity-info {
    padding: 12px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}
.dates {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
}

#screen-settings {
    background: #ffffff !important;
    z-index: 100;
    padding: 0 !important;
    overflow-y: auto;
}

.app-screen {
    display: none;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
}

.app-screen.active {
    display: flex;
}

.mobile-color-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    pointer-events: auto !important;
    -webkit-user-select: auto !important;
    user-select: auto !important;
}